<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Welch Title | {{ page.title }}</title>

	<meta name="description" content="We provide searches, examinations, and closings to help manage large workloads, drive repeat business, and resolve complex title issues.">
	<meta name="keywords" content="Title, Commercial Title, closings, Indianapolis">
	<meta name="author" content="Nick Welch">
	<meta property="og:image" content="{{ site.baseurl }}/images/logos/welch-title_welch-title-square-white.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1024">
	<meta property="og:image:height" content="1024">

	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style.css">
	<link href="https://fonts.googleapis.com/css?family=Bentham" rel="stylesheet">
	<link rel="stylesheet" href="{{site.baseurl}}/library/css/icomoon.css" media="screen" />
	
	<!-- General JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "Local Business",
			  "name": "Welch Title and Abstract",
			  "url": "http://welch-title.com",
			  "email": "nick@welch-title.com"
			  "founders": "Nick Welch Sr."
			  "foundingDate": "2002-05-20",
			  "logo": "http://welch-title.com/library/images/logos/welch-title_welch-title-square-white.jpg",
			  "sameAs": [
			    ""
			  ]
			}
		</script>
	
</head>