<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Welch Title | {{ page.title }}</title>

	<meta name="description" content="We provide searches, examinations, and closings to help manage large workloads, drive repeat business, and resolve complex title issues.">
	<meta name="keywords" content="Title, Commercial Title, closings, Indianapolis">
	<meta name="author" content="Nick Welch">
	<meta property="og:image" content="{{site.url}}/images/logos/welch-title_welch-title-square-white.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1024">
	<meta property="og:image:height" content="1024">

	<link rel="stylesheet" type="text/css" href="{{site.url}}/style.css">
	<link href="https://fonts.googleapis.com/css?family=Bentham" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{site.url}}/library/css/icomoon.css" media="screen" />
	

	<script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "Local Business",
			  "name": "Welch Title and Abstract",
			  "url": "http://welch-title.com",
			  "email": "nick@welch-title.com"
			  "founders": "Nick Welch Sr."
			  "foundingDate": "2002-05-20",
			  "logo": "http://welch-title.com/library/images/welch-title_welch-title-square-white.jpg",
			  "sameAs": [
			    "https://www.instagram.com/SkymouseStudios/"
			  ]
			}
		</script>
	
</head>

<body>

<header id="home" class="row" style="background-image: url(' {{ page.img }} ');">

	<nav id="mainmenu" role="navigation">
		<a href="{{ site.url }}">
			<div class="logo col-3"></div>
		</a>

		<div id="menu-burger"><i class="icon-menu"></i></div>

		<div id="searchicon">		
		</div>
		<div id="menu">
			<ul>
	          {% for link in site.links %}
	            <li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
	          {% endfor %}
	 		</ul>
		</div>
	</nav>

</header>