@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

h1 { 
	align-content: center;
	font-size: 3.5em;
    font-family: Bentham, Times;
    color: black;
    font-weight: 400;
 }

h2 { 
	align-content: center;
	font-size: 2em;
    font-family: Bentham, Times;
    font-weight: 400;
 }

h3 {
    font-size: 1.5em;
    text-align: center;
    font-family: Bentham, Times;
    font-weight: 400;
}

p {
	font-size: 1em;
    line-height: 2em;
    color: #404040;
    font-weight: 200;
}

.gray {
    color: #404040;
}

.kill-margin {
    margin: 0;
}
